<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.0.0" targetFramework="net452" />
  <package id="DotSpatial.Data" version="2.0.0-rc1" targetFramework="net452" />
  <package id="DotSpatial.GeoAPI" version="1.7.4.3" targetFramework="net452" />
  <package id="DotSpatial.Mono" version="1.9" targetFramework="net452" />
  <package id="DotSpatial.NetTopologySuite" version="1.14.4" targetFramework="net452" />
  <package id="DotSpatial.Projections" version="2.0.0-rc1" targetFramework="net452" />
  <package id="DotSpatial.Serialization" version="2.0.0-rc1" targetFramework="net452" />
  <package id="DotSpatial.Topology" version="1.9" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="GraphQL" version="0.15.1.678" targetFramework="net452" />
  <package id="GraphQL-Parser" version="2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1-beta1" targetFramework="net452" />
  <package id="Optional" version="3.2.0" targetFramework="net452" />
  <package id="PowerArgs" version="2.8.0.0" targetFramework="net452" />
  <package id="Serilog" version="2.4.1-dev-00801" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.1.0" targetFramework="net452" />
  <package id="SimpleInjector" version="4.0.0-beta2" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net452" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
</packages>